.qualifications-section {
  margin-top: 20px;
  
}

.action-buttons {
  margin-bottom: 16px;
}

.qualifications-section table {
  width: 100%;
  border-collapse: collapse;
}

.qualifications-section th,
.qualifications-section td {
  text-align: left;
  border: none;
  outline: none;
}

.qualifications-section th {
  background-color: #f8f8f8;
  font-weight: bolder;
}

.qualifications-section button {
  padding: 5px 8px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.section-actions {
  margin-top: 15px;
  text-align: right;
}

.section-actions button {
  padding: 8px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.qualification-details p {
  margin-bottom: 8px;
}